# Public read-only RPC endpoint for X Layer testnet.
VITE_RPC_URL=https://testrpc.xlayer.tech/terigon

# Deployed SignalLedger contract address.
VITE_CONTRACT_ADDRESS=0x5380fadFeF5EaEBCE964Da4248d9327b84726Ed3

# Chain ID for X Layer testnet.
VITE_CHAIN_ID=1952
